<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cosmo/bootstrap.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="style.css"></link>
<link rel="icon", href="/favicon.ico?v=2"></link>
<title>RXJS Demo</title>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Demo</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron col-md-6">
    <h2>RXJS Demo</h2>
    <p>Press the button at any time and your event will be sended through a channel sync with the log list at the right of the screen.</p>
    <p>
      <a class="btn btn-primary btn-lg col-md-6" onclick="hs.startInterval(1000)">Be Reactive!</a>
      <a class="btn btn-danger btn-lg col-md-6" onclick="hs.stop()">Stop</a>
    </p>
  </div>
  <div id="list" class="col-md-6 pre-scrollable">
    <div class="list-group col-md-12">
      <div class="col-md-3">
        <img src="img/001.png" class="img-responsive img-circle">
      </div>
      <div class="col-md-9">
        <h4>Incoming message from Glassy.</h4>
        <p>A new event has been created by BotChat. Please confirm or discart your attendant.</p>
      </div>
    </div>
  </div>    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.1.0/rx.core.js"></script>
<script src="lib/handleSubscriber.js"></script>
<script src="script.js"></script>
